---
---

@import "{{ site.theme }}";


// Headers
$header-bg-color: #003865 !default;
$header-bg-color-secondary: #78BE21 !default;

// Text
$section-headings-color: #003865 !default;
$body-text-color: #303c71 !default;
$body-link-color: #003865 !default;


.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #003865
}
