<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <div style="    width: 400px;    text-align: center;    margin: 0 auto;    background-color: #aaaaaa66;    padding: 10px;    border-radius: 10px;    border: solid 2px #aaaaaa;">
<a href="https://us02web.zoom.us/webinar/register/WN_02z14kjkTFi2Ur96XdkZkA" title="Watch the Come Teach in MN District Showcase"><img src="/assets/images/2022-06-16ComeTeachVideoCover.png" style="max-width:300px;"></a><br>


    <a href="https://us02web.zoom.us/webinar/register/WN_02z14kjkTFi2Ur96XdkZkA" style="appearance: none;background-color: #f8c12a; border: 1px solid rgba(27, 31, 35, .15);border-radius: 6px;  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box; color: #000; cursor: pointer; display: inline-block; font-weight: 600; line-height: 20px;  padding: 6px 16px;  position: relative;  text-align: center;  text-decoration: none;
  user-select: none;  -webkit-user-select: none;  touch-action: manipulation;  vertical-align: middle;  white-space: nowrap;  margin-top: 12px;  margin-bottom: 3px;">Watch the Showcase Webinar</a>
</div>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="https://cometeachinmn.org">cometeachinmn.org</a> is maintained by <a href="https://educatemn.org">educatemn.org</a>.</span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
